<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT forside ANY>
<!ATTLIST forside id ID #REQUIRED>
<!ELEMENT layout ANY>
<!ATTLIST layout id ID #REQUIRED>
]>
<root id="-1">
  <forside id="1065" key="0a47a84c-1183-4b89-9170-8449ce561f0e" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-10-19T18:04:15" updateDate="2017-10-19T18:04:15" nodeName="Forside" urlName="forside" path="-1,1065" isDoc="" nodeType="1064" creatorName="derp" writerName="derp" writerID="0" template="1063" nodeTypeAlias="forside" />
</root>